---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
    margin-left: 10px;
    margin-right: 10px;
}

strong, b {
  font-weight: bold;
}

.round-image {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover;
}

.center-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Ensure the height matches the width to maintain the circular shape */
    object-fit: cover; /* This ensures the image covers the entire circle without distortion */
  }

.publication-entry {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem; /* Adjust the spacing between entries as needed */
  }
  
 .publication-entry img {
    margin-right: 1rem; /* Adjust the space between the image and the text */
    width: 168px; /* Adjust the image width as needed */
    height: auto; /* Ensure the image maintains its aspect ratio */
    border-radius: 3%; /* Optional: add some rounding to the image corners */
  }
  
.publication-entry div {
    flex: 1;
  }